<!--Teams list-->
<!--<div>
    <table style="border-style:solid;">
        <tr>
            <th>Team</th>
            <th>Logo</th>
        </tr>

        <tr *ngFor="let team of teams">
            <td>{{team.name}}</td>
            <td><img src="https://squiggle.com.au/{{team.logo}}"></td>
        </tr>
    </table>
    <br><br>
</div>-->

<!--Results for a round of games-->
<div class="col-6 float-left border-white rounded">

    <div class="container-fluid">
        <p>Results for games of teams played this season</p>
        Season(Year): <input [(ngModel)]="gameYear" name="gameYear">
        <span class="col-1"></span>
        <button class="btn rounded" (click)="getGames()">Filter</button>
    </div>

    <h1 class="start-50" style="font-size: 25px" font="Zen Dots">Results for a round of games</h1>
    <table style="text-align:center;">
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Score</th>
            <th>Winer</th>
            <th>Year</th>
        </tr>
        <tr *ngFor="let game of games">
            <td>{{game.hteam}}</td>
            <td>{{game.ateam}}</td>
            <td>{{game.hscore}}-{{game.ascore}}</td>
            <td>{{game.winner}}</td>
            <td>{{game.year}}</td>
        </tr>
    </table>
    <br><br>
</div>

<!--Tips for a round of games-->
<div class="col-6 float-right border-white rounded">

    <div class="container-fluid">
        <p>Tips this season</p>
        Season(Year): <input [(ngModel)]="tipYear" name="tipYear">
        <span class="col-1"></span>
        <button class="btn rounded" (click)="getTips()">Filter</button>
    </div>

    <h1 class="start-50"style="font-size: 25px" font="Zen Dots">Tips for a round of games</h1>
    <table style="text-align:center;">
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Tip</th>
            <th>Source</th>
            <th>Year</th>
            <th>Date</th>
        </tr>
        <tr *ngFor="let t of tips">
            <td>{{t.hteam}}</td>
            <td>{{t.ateam}}</td>
            <td>{{t.tip}}</td>
            <td>{{t.source}}</td>
            <td>{{t.year}}</td>
            <td>{{t.date}}</td>
        </tr>
        <br><br>
    </table>
</div>