<div class="bg-dark" >
  <nav class="nav container-fluid sticky-top bg-primary rounded-bottom pt-2 pb-2 fixed-top">
    <div class="col-2">
      <p class="text-dark m-2" font="Zen Dots" style="font-size: 40px">AFL Stats</p>
    </div>
    <span class="col-6"></span>
    <button type="button" class="btn btn-small btn-outline-primary btn-outline-light px-1 py-2"><a routerLink="/ViewLeagueTable" class="navLink text-white">View League Table</a></button>
    <span></span>
    <button type="button" class="btn btn-small btn-outline-primary btn-outline-light px-1 py-2"><a routerLink="/Team" class="navLink text-white">Team</a></button>
  </nav>

  <div class="px-2 py-2 text-white">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="bg-primary container-fluid rounded-top" style="height:5px;"></div>
    <div class="container-fluid bg-dark">
      <div class="container-fluid t-1 b-1">
        <span class="col-1"></span>
        <div class="col-4 text-white">
          AFL Stats<br>
          Don't forget to share us on social media!
        </div>
        <span class="col-7"></span>
      </div>
    </div>
    <div class="bg-primary container-fluid" style="height:5px;"></div>
  </footer>
</div>