<!--Teams list-->
<div id="TeamDiv">
    <aside class="float-right position-sticky outline-outline px-2 py-2 rounded text-dark border bg-dark border-light">
        <h2 style="position: centre" class="text-white">AFL TEAMS</h2>
        <ul>
            <li class="items" *ngFor="let team of teams" (click)="onSelect(team)">
                <a class=text-white><span>{{team.id}} </span>{{team.name}}</a>
            </li>
        </ul>
    </aside>
    <app-team-result [team]="selectedTeam"></app-team-result>
</div>
